:global {
    .url-input {
        font-size: 18px;
        color: #212121;
        border-radius: 3px;
        background-color: #eeeeee;
        max-width: 100vw;
        min-width: 320px;
        min-height: 2em;
        resize: none;
        overflow: hidden;
    }
}
