:global {
    .page-content {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column nowrap;
        max-height: 350px;
        height: calc(100vh - 56px);
        min-height: 250px;
    }

    .btn-save {
        background-color: #212121;
        border: 0;
        color: #ef6d1e;
        font-size: 24px;
        padding: 0.5em 1em;
        border-radius: 1em;
        cursor: pointer;
        box-shadow: 0px 2px 5px #ef6d1e;
        outline: none;
        transition: all 0.35s ease;

        &:hover {
            box-shadow: 0px 2px 5px #ffeb3b;
            color: #ffc107;
        }

        &:active {
            transform: translateY(2px);
            box-shadow: 0 0 0 #ffeb3b;
        }
    }
}
